<!DOCTYPE html>
<html>
	<head>
		<meta content="Text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Folgende Person hat sich eingetragen:<br />
		<%= @contact.name %><br />
		<%= @contact.email %></p>
		<p>Text:<br />
		"<%= @contact.content %>"
		</p>
	</body>
</html>